<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>controller.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminProductController</servlet-name>
        <servlet-class>controller.AdminProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditController</servlet-name>
        <servlet-class>controller.EditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>controller.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdidasController</servlet-name>
        <servlet-class>controller.AdidasController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PumaController</servlet-name>
        <servlet-class>controller.PumaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NikeController</servlet-name>
        <servlet-class>controller.NikeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SingleController</servlet-name>
        <servlet-class>controller.SingleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginCustomer</servlet-name>
        <servlet-class>controller.LoginCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreditController</servlet-name>
        <servlet-class>controller.CreditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyController</servlet-name>
        <servlet-class>controller.BuyController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProductController</servlet-name>
        <url-pattern>/adminproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditController</servlet-name>
        <url-pattern>/Edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/Update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdidasController</servlet-name>
        <url-pattern>/adidas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PumaController</servlet-name>
        <url-pattern>/puma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NikeController</servlet-name>
        <url-pattern>/nike</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SingleController</servlet-name>
        <url-pattern>/single</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCustomer</servlet-name>
        <url-pattern>/cus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreditController</servlet-name>
        <url-pattern>/credit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyController</servlet-name>
        <url-pattern>/buy</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
